[submodule "minesweeper_core"]
	path = minesweeper_core
	url = git@github.com:etoledom/minesweeper_core.git
[submodule "minesweeper_multiplayer"]
	path = minesweeper_multiplayer
	url = git@github.com:etoledom/minesweeper_multiplayer.git
