[submodule "minesweeper_core"]
	path = minesweeper_core
	url = https://github.com/etoledom/minesweeper_core.git
[submodule "minesweeper_multiplayer"]
	path = minesweeper_multiplayer
	url = https://github.com/etoledom/minesweeper_multiplayer.git
